


<div class="col-md-6" >

<legend>Ризиків: <span class="riskLength" >{{projectRisks.length}}</span></legend>
<div ng-show="areRisks && projectRisks.length">

<form  name="riskForm" class="form form-horizontal" novalidate>
		<legend>({{riskCounter+1}}) {{projectRisks[riskCounter].description}}</legend>
		<div class="col-md-4">

			<div class="form-group" ng-class="{ 'has-error' : riskForm.name.$invalid && !riskForm.name.$pristine }">

            	
            <label for="inputEmail">Ймовірність</label>
            <input ng-model="projectRisks[riskCounter].probability" ng-pattern=/^0.[0-9]+$/ valid-username name="username"  type="text" class="form-control probability" id="inputProb" required>
        	
        	 <p ng-show="riskForm.username.$invalid && !fiskForm.username.$pristine" class="help-block">invalid </p>



	
			<label  for="inputEmail">Вплив</label>
            <input  ng-model="projectRisks[riskCounter].consequences" ng-pattern=/^0.[0-9]+$/  type="text" name="con" class="form-control cons" id="inputProb" required  >
             <p ng-show="riskForm.con.$invalid && !riskForm.con.$pristine" class="help-block">invalid</p>


			<!--
            <label  for="inputEmail">Величина ризику</label>
            <input  ng-model="risk.impact" ng-disabled="true"  type="text" class="form-control" id="inputProb" >
			-->
<br>
<button class="btn btn-primary save glyphicon glyphicon-plus-sign" ng-disabled="riskForm.$invalid" ng-click="toPrioritization(projectRisks[riskCounter])" >зберегти</button>
        	</div>
        </div>

<div style="clear:both">
 <button class="btn btn-primary glyphicon glyphicon-chevron-left" ng-click="prev()">попередній</button>
 <button class="btn btn-primary glyphicon glyphicon-chevron-right" ng-click="next()" >наступний</button>
</div>

</form>


 

</div>





</div>



<div class="col-md-6">
	<legend>Приорітизувати ризики:</legend>
	
	<table data-toggle="table"  class="table table-hover" data-height="299">

    <thead>
    	<tr>
    		<th>Опис ризику</th>
    		<th>Ймовірність</th>
    		<th>Збитки</th>
    		<th>Вплив</th>
    	</tr>
        <tr ng-repeat="risk in analyzedRisks" ng-class="risk.prioritet" >
            <th data-field="id" class="riskDestCol"><span ng-click="backToProjectRisks(risk)">{{risk.description}}</span></div></th>
            <th data-field="name"  class="riskProbCol" >{{risk.probability}}</th>
            <th data-field="price" class="riskConCol" >{{risk.consequences}}</th>
            <th data-field="price" class="riskImCol" >{{risk.impact}}</th>
            
        </tr>
        <br>
    </thead>
</table>

<button class="btn btn-primary prioritization glyphicon glyphicon-sort-by-attributes-alt" ng-click="prioritization()" ng-disabled="prioritizationDisabled">Приорітизувати ризики</button>
	
</div>





<div style="clear:both">
<br>

<button class="btn btn-primary getRisks glyphicon glyphicon-save" ng-hide="projectRisks.length == 0 && analyzedRisks.length!=0" ng-click="getProjectRisks()">отримати ризики</button>
</div>

<!-- //risk countermeasures -->
<div class="col-md-6">
    <legend>Визначення заходів для ризиків</legend>
    Поточний ризик:<br> 
    {{analyzedRisks[analyzedRiskIndex].description}}<br>
    Обраний захід:
    <legend>{{selectedMeasure}}</legend>

     <button class="btn btn-primary glyphicon glyphicon-chevron-left" ng-click="analyzedRiskPrev()">попередній</button>
     <button class="btn btn-primary glyphicon glyphicon-chevron-right" ng-click="analyzedRiskNext()">наступний</button>
     <button class="btn btn-primary glyphicon glyphicon-ok" ng-click="applyMeasure(analyzedRiskIndex)">застосувати</button>
     
    
    <form name="measures">
        <div class="list-group">
            <div  >
                <a ng-repeat="r in counterMeasures" class="list-group-item selectMeasure" ng-click="selectMeasure(r)" >{{r}}</a>
            </div>        
        </div>
        
        
        
    </form>

</div>

<div class="col-md-6">
<legend>Заходи з пом’якшення</legend>
<div ng-repeat="r in analyzedRisks">{{r.measure}}</div>

</div>
